* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;

}
h1 {
	text-transform: capitalize;
	padding: 30px 0px;
}
h2{
	margin-top: 30%;
	text-transform: capitalize;
	color:  #b380ff;
	text-align: center;
	font-weight: 700;
}
.lbl{
	margin-right: 10px;
}
.fillwish{
	margin-top: 13%;
	margin-bottom: 10%;
	border: 1px solid #fff;
	background-color: #d9d9d9;
}
table{
	border-collapse: collapse;
	margin-top: 70px;
	width: 100%;	
	font-size: 25px;
	color:#e6e6e6 ;
	text-align: center;
}
th{
	background-color: #ff9999;
	color: black;
}
tr:nth-child(even){
	background-color: #ffe6e6;
}